*.d2v
*.npy
*.db
CryptoTrader/data_utils/twitter_data/data/**/*.csv
CryptoTrader/data_utils/twitter_data/data/**/extracted/*
!CryptoTrader/data_utils/twitter_data/data/**/features.csv
geckodriver.log
ghostdriver.log
CryptoTrader/data_utils/twitter_data/data/profiledata/*
CryptoTrader/data_utils/tradingview_data/data/*
