*.d2v
*.npy
*.db
CryptoTrader/data_utils/twitter_data/**/*.csv
CryptoTrader/data_utils/twitter_data/**/extracted/*
!CryptoTrader/data_utils/twitter_data/**/features.csv
geckodriver.log
ghostdriver.log
CryptoTrader/data_utils/twitter_data/profiledata/*
CryptoTrader/data_utils/tradingview_data/data/*
